<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bibliopelis - Configuración</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

<header>
    <h1>BIBLIO<span>PELIS</span></h1>
    <a th:href="@{/}" class="btn-primary">INICIO</a>
</header>

<div class="container">
    <div class="movie-grid" style="display: block; max-width: 600px; margin: 50px auto;">
        <div class="movie-card">
            <div class="card-info">
                <h2 class="badge" style="position: static; display: inline-block; margin-bottom: 20px;">SISTEMA OK</h2>
                <h1 style="color: var(--text-main); margin-bottom: 15px;">Géneros Creados</h1>
                <p style="color: var(--text-dim); margin-bottom: 30px;">
                    Se han insertado satisfactoriamente los 10 géneros iniciales en la base de datos.
                </p>

                <div class="search-bar" style="justify-content: center; background: none; box-shadow: none;">
                    <a th:href="@{/}" class="btn-search">VOLVER AL CATÁLOGO</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>